.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex (space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

  .logo {
    @include flex (flex-start, center, row);
    flex: 1 1 30rem;
  }

  ul {
    @include flex (space-around, center, row);
    flex: 4 1 30rem;
  }

  h1 {

    margin: 2rem;
  }
}

.splash {
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex (space-between, center, row);

  .intro-images {
    flex: 1 1 20rem;

  }

  .intro-text {
    flex: 1 1 20rem;
  }

  h2 {
    padding-top: 1rem;
  }

  h3 {
    padding: 2rem 0;
  }

  .intro-social {
    padding: 2rem 0;

    a {
      margin-right: 2rem;
    }
  }
}

.active {
  background: $gray-text;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}



#me {
  animation: me 1.5s linear infinite alternate;
  transform-origin: bottom;
}

#plant-left {
  animation: leaf 1.5s ease infinite alternate;
}

#plant-right {
  animation: leaf 1.5s ease infinite alternate 0.7s;
}

#clock-arrow {
  animation: clock 1s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;

}


@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }

  to {
    transform: rotateZ(5deg);
  }
}

@keyframes leaf {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-10%);
  }

}