$header1 : 2.5rem;
$header2 : 4rem;
$header3 : 2.5rem;
$header4 : 2rem;
$text : 2.5rem;
$gradient : linear-gradient(left, #38d39f, #38a4d3);
$background-color : #154353;
$gray-text :#2c2c2c;

@mixin flex ($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}


@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";


@media screen and (max-width :700px) {
  nav .logo {
    display: flex;
    justify-content: center;
    margin: 2rem;

  }

  nav ul {
    margin-bottom: 2rem;
  }

  .splash {
    display: none;
  }
}

@media screen and (max-width : 400px) {
  html {
    font-size: 40%;
  }
}